<!doctype html> 

<html>
<head>
	<title>Breaks</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #f1f4f9" >
    <!-- Header --> 
    <div class="head">
        <h1>Breaks</h1>
    </div>

    <div class="breaks main">    
        <!-- Timer --> 
        <center><div class="timer-style" id="timer"></div><br>
        <span class="addBtn">Start Next Break</span>
        <span onclick="resetTimer()" class="addBtn resetTimer">Reset</span></center>

        <!-- List of breaks scheduled --> 
        <h4>Scheduled Today</h4>
        {{#each breaks}}
        <ul class="task-list">
            <li>{{what}}, {{start}} - {{end}}</li>
        </ul>
        {{/each}}

        <!-- Add breaks --> 
        <h4>Add New Break</h4>
        <form method="get" action="/addbreak">
            <label for="what">Break:</label>
            <input type="text" class="field" id="what" name="what" placeholder="Enter Break Activity" required><br><br>

            <label for="starttime">Time:</label>
            <input type="time" class="field" id="starttime" name="starttime" required>
            <label for="endtime"> to </label>
            <input type="time" class="field" id="endtime" name="endtime" required> <br><br>

            <center><input type="submit" id="submitBtn" class="addBtn" value="Add"></input></center><br><br>
        </form>
    </div>

    <!-- Navigation bar -->
    <div class="navbar">
        <a href="/index"><i class="fas fa-home"></i></a>
        <a href="/tasks"><i class="fas fa-tasks"></i></a>
        <a href="/breaks" class="active"><i class="fas fa-clock"></i></a>
        <a href="/friends"><i class="fas fa-users"></i></a>
        <a href="/awards"><i class="fas fa-star"></i></a>
        <a href="/settings"><i class="fas fa-cog"></i></a>
     </div>

    <!-- JavaScript info --> 
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/breaks.js"></script>

</body>
</html>