<!doctype html> 

<html>
<head>
	<title>Breaks</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #f1f4f9">
    <!-- Header --> 
    <div class="head">
        <h1>Breaks</h1>
    </div>

    

    <!-- Navigation bar -->
    <div class="navbar">
        <a href="/index"><i class="fas fa-home"></i></a>
        <a href="/tasks"><i class="fas fa-tasks"></i></a>
        <a href="/breaks" class="active"><i class="fas fa-clock"></i></a>
        <a href="/friends"><i class="fas fa-users"></i></a>
        <a href="/awards"><i class="fas fa-star"></i></a>
        <a href="/login"><i class="fas fa-sign-out-alt"></i></a>
     </div>

    <!-- JavaScript info --> 
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>