<!doctype html> 

<html>
<head>
	<title>Friends</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
</head>

<body>
     <div class="container">
         <div class="head">
            <h1>
             Friends
            </h1>
         </div>
             <div id="searchList">
                 <div class="search">
                     <input type="text" placeholder="Search name..." name="searchBar"id ="searchFriends" onkeyup="myFunction()">
                     <button>Search</button>
                 </div><br>
             </div>
        <ul id="friendsList">
            {{#each friends}}
             <li>
                 <div class="friends" id="friend{{id}}">
                     <img class="avatar" src="../../images/avatar.jpeg" alt="avatar"><br><a href="#">{{name}}</a><p>&nbsp is currently working on<br>{{task}}</p>
                 </div><br>
                 <div class="progress">
                     <progress value= "75" max="100"></progress>
                 </div>
             </li>
             {{/each}}
         </ul>
     </div>

    <!-- Navigation bar --> 
    <div class="navbar">
        <a href="/index"><i class="fas fa-home"></i></a>
        <a href="/tasks"><i class="fas fa-tasks"></i></a>
        <a href="/friends" class="active"><i class="fas fa-users"></i></a>
        <a href="/awards"><i class="fas fa-star"></i></a>
        <a href="/login"><i class="fas fa-sign-out-alt"></i></a>
     </div>

    <!-- JavaScript info -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/search.js"></script>

</body>
</html>