<!doctype html> 

<html>
<head>
	<title>Tasks</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #f1f4f9">
    <!-- Header --> 
    <div class="head">
        <h1>Tasks</h1>
    </div> 

    <div class="main">
        <div class="dropdown">
            <button class="dropbtn">Tasks This Week</button>
                <div class="dropdown-content">
                    <a href="/tasks">Tasks Today</a><br>
                </div>
        </div>

        <!-- Form header for adding tasks --> 
        <div class="task-header">
            <h2>This Week</h2>
            <form method="get" action="/addfuture"> 
                <label for="task">Task:</label>
                <input type="text" class="field" id="task" name="task" placeholder="Enter Task" required><br><br>

                <label for="duedate">Finish By:</label>
                <input type="text" class="field" id="duedate" name="duedate" placeholder="MM/DD" required><br><br>

                <span><b>Public?</b></span>
                <input id="yes" type="radio" name="privacy" value="yes" required>
                <label for="yes">Yes</label>
                <input id="no" type="radio" name="privacy" value="no" required> 
                <label for="no">No</label><br><br>

                <input type="submit" id="submitBtn" class="addBtn" value="Add" onclick="confirmAdd()"></input>
                <script>
                     function confirmAdd() {
                         confirm("New Task Has Been Added!");
                    }
                </script>
            </form>
        </div>

        <ul id="task-list">
            {{#each futuretasks}}
            <li><p>{{taskName}}, {{duedate}}</p></li>
            {{/each}}
        </ul>
    </div>

 <!-- Navigation bar -->
    {{>navbar}}

    <!-- JavaScript info -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/tasks.js"></script>

</body>
</html>