<!doctype html> 

<html>
<head>
    <title>Group Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #f1f4f9">
    <div class="head">
        <h1>Group</h1> <button class="close" id="close"><a href="/groups">X</a></button>
        <h3><img class="profile-avatar" src="../../images/avatar.jpeg" alt="avatar"> {{name}} </h3>
    </div>

    <div class="overview main">
        <h4>Friends in Group</h4>
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar"><br>

        <h4>Group Tasks</h4>
        <div class="tasks"><p>Tasks Completed = 10 <br> Total Tasks = 34</p></div>
            <div class="progress">
                <label for="tasks">Task Progress:&nbsp</label><progress value= 10 max= 34 ></progress>
            </div>

        <h4>Scheduled Group Breaks</h4>
        <p style="padding-left: 20px">Lunch Break, 12:00pm - 1:30pm</p>
        <p style="padding-left: 20px">Free time, 6:00pm - 7:00pm</p>

        <h4>Group Awards</h4>
        <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br> 
        <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
        <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
        <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
    </div>

    <!-- Navigation bar -->
    <div class="navbar">
        <a href="/index"><i class="fas fa-home"></i></a>
        <a href="/tasks"><i class="fas fa-tasks"></i></a>
        <a href="/breaks"><i class="fas fa-clock"></i></a>
        <a href="/friends" class="active"><i class="fas fa-users"></i></a>
        <a href="/awards"><i class="fas fa-star"></i></a>
        <a href="/settings"><i class="fas fa-cog"></i></a>
     </div>

    <!-- JavaScript info -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>