<!doctype html> 

<html>
<head>
    <title>Group Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Andika&family=Caveat:wght@700&display=swap" rel="stylesheet">
</head>

<body style="background-color: #fddca5">
    <div class="head">
        <h1>Group</h1> <button class="close" id="close"><a href="/groups">X</a></button>
        <h3><img class="profile-avatar" src="../../images/cogs120.png" alt="avatar"> COGS 120</h3>
    </div>

    <div class="overview main">
        <h4>Friends in Group</h4>
        <img class="overview-friends" src="../../images/catherine.jpg" alt="avatar">
        <img class="overview-friends" src="../../images/alex.jpg" alt="avatar">
        <img class="overview-friends" src="../../images/alan.jpg" alt="avatar">
        <img class="overview-friends" src="../../images/vivian.jpg" alt="avatar">
        <img class="overview-friends" src="../../images/michael.jpg" alt="avatar"><br>

        <h4>Group Tasks</h4>
        <div class="tasks"><p>Tasks Completed = 10 <br> Total Tasks = 34</p></div>
            <div class="progress">
                <label for="tasks">Task Progress:&nbsp</label><progress value= 10 max= 34 ></progress>
            </div>

        <h4>Scheduled Group Breaks</h4>
        <p style="padding-left: 20px">Lunch Break, 12:00pm - 1:30pm</p>
        <p style="padding-left: 20px">Free time, 6:00pm - 7:00pm</p>

        <h4>Group Awards</h4>
        <p><img class="award" src="../../images/yellow-star.png" alt="earned award"><b>Head Start</b><br><i>Earned on: 03/01</i><br>Have one member joined</p><br> 
        <p><img class="award" src="../../images/yellow-star.png" alt="earned award"><b>Three's A Crowd</b><br><i>Earned on: 03/01</i><br>Have three members joined</p><br> 
        <p><img class="award" src="../../images/yellow-star.png" alt="earned award"><b>Social Bird</b><br><i>Earned on: 03/01</i><br>Send invite code to someone new</p><br> 
        <p><img class="award" src="../../images/yellow-star.png" alt="earned award"><b>Getting Started!</b><br><i>Earned on: 03/02</i><br>Complete one group task</p><br> 
    </div>

    <!-- Navigation bar -->
    {{>navbar}}

    <!-- JavaScript info -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>