<!doctype html> 

<html>
<head>
	<title>Groups</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Andika&family=Caveat:wght@700&display=swap" rel="stylesheet">
</head>

<body style="background-color: #fddca5">
     <div class="container main">
         <div class="head">
            <h1>Groups</h1>
         </div>

         <!-- Dropdown menu to navigate between different pages of awards-->
        <div class="dropdown">
            <button class="dropbtn">Filter By:</button>
            <div class="dropdown-content">
                <a href="/groups">My Groups</a>
                <a href="/friends">My Friends</a>
            </div>
        </div><br><br>

         <div id="searchList">
             <div class="search">
                 <input type="text" placeholder="Search name..." name="searchBar"id ="searchGroups" onkeyup="myGroups()">
                 <button>Search</button>
             </div><br>
         </div>
             
        <ul id="groupsList">
            {{#each groups}}
             <li>
                 <div class="groups" id="groups{{id}}">
                     <img class="avatar" src="{{image}}" alt="avatar"><br><a href="/groupprofile">{{name}}</a><p>&nbsp There are currently {{participants}} group members</p>
                 </div><br>
             </li>
             {{/each}}
         </ul>
     </div>

 <!-- Navigation bar -->
    {{>navbar}}

    <!-- JavaScript info -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/searchgroup.js"></script>

</body>
</html>