<!doctype html> 

<html>
<head>
	<title>Awards</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #f1f4f9">
    <!-- Header --> 
    <div class="head">
        <h1>Group Awards</h1>
    </div>

    <!-- Dropdown menu to navigate between different pages of awards-->
    <div class="main">
        <div class="dropdown">
            <button class="dropbtn">Filter By:</button>
            <div class="dropdown-content">
                <a href="/awards">My Awards</a>
                <a href="/friend-awards">Friend Awards</a>
                <a href="/group-awards">Group Awards</a>
            </div>
        </div><br>

        <!-- Group 1 --> 
        <div class="group-awards" id="group1">
            <h3><img class="avatar" src="../../images/avatar.jpeg" alt="avatar"> COGS120</h3>

            <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/gray-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/gray-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/gray-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/gray-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
        </div><br>

        <!-- Group 2 -->
        <div class="group-awards" id="group2">
            <h3><img class="avatar" src="../../images/avatar.jpeg" alt="avatar"> COGS101B</h3>

            <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/yellow-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/gray-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/gray-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/gray-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/gray-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/gray-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/gray-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
            <p><img class="award" src="../../images/gray-star.png" alt="earned award">Name of Award<br>Date Earned<br>Description</p><br>
        </div>
    </div>

 <!-- Navigation bar -->
    {{>navbar}}

    <!-- JavaScript info --> 
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>