<!doctype html> 

<html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
</head>

<body style="background-color: #f1f4f9">
    <div class="head">
        <h1 id="name">Name</h1>
        <h3><img id="photo" class="profile-avatar" src="../../images/avatar.jpeg" alt="avatar"></h3>
    </div>

    <div class="overview main">
        <h4>Today</h4>
        <ul id="task-list">
            <li>Discussion post</li>
            <li>COGS 120 A6</li>
            <li>CSE PA8</li>
            <li>Watch lectures</li>
        </ul>

        <h4>This Week</h4>
        <ul id="task-list">
            <li>Register for classes, 03/10</li>
            <li>CSE Midterm, 03/10</li>
            <li>COGS 101B Discussion, 03/11</li>
            <li>Laundry, 03/12</li>
        </ul>

        <h4>Scheduled Breaks</h4>
        <ul id="task-list">
            <li>Get up and stretch, 10:00 - 10:15</li>
            <li>Make and eat lunch, 14:00 - 14:30</li>
            <li>Free time, 18:30 - 19:00</li>
        </ul>
 
        <h4>Friends</h4>
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar"><br>

        <h4>Groups</h4>
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar"><br><br>
    </div>

 <!-- Navigation bar -->
    {{>navbar}}

    <!-- JavaScript info -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/tasks.js"></script>

</body>
</html>