<!doctype html> 

<html>
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #f1f4f9">
    <div class="head">
        <h1>Home</h1>
        <h3><img class="profile-avatar" src="../../images/avatar.jpeg" alt="avatar"> Name</h3>
    </div>

    <div class="overview">
        <h4>Today</h4>
        <ul id="task-list">
            {{#each tasks}}
            <li><p>{{taskName}}</p></li>
            {{/each}}
        </ul>

        <h4>This Week</h4>
        <ul id="task-list">
            {{#each futuretasks}}
            <li><p>{{taskName}}</p></li>
            {{/each}}
        </ul>

        <h4>Scheduled Breaks</h4>
        <p style="padding-left: 20px">Get up and stretch, 10:30am - 10:45am</p>
        <p style="padding-left: 20px">Make and eat lunch, 2:00pm - 2:30pm</p>
        <p style="padding-left: 20px">Free time, 6:00pm - 6:30pm</p>

        <h4>Friends</h4>
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar"><br>

        <h4>Groups</h4>
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar">
        <img class="overview-friends" src="../../images/avatar2.png" alt="avatar"><br>

    </div>

    <!-- Navigation bar -->
    <div class="navbar">
        <a href="/index" class="active"><i class="fas fa-home"></i></a>
        <a href="/tasks"><i class="fas fa-tasks"></i></a>
        <a href="/breaks"><i class="fas fa-clock"></i></a>
        <a href="/friends"><i class="fas fa-users"></i></a>
        <a href="/awards"><i class="fas fa-star"></i></a>
        <a href="/login"><i class="fas fa-sign-out-alt"></i></a>
     </div>

    <!-- JavaScript info -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/tasks.js"></script>

</body>
</html>