<!doctype html> 

<html>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/login-signin.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    {{> facebook}}
    <script src="/public/js/facebook.js"></script>
</head>

<body style="background-color: #f1f4f9">
  <div id="fb-root"></div>
   <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0&appId=4159011474122702&autoLogAppEvents=1" nonce="xT91vBx4"></script>
  <div class="center">
    <center>
      <h1>WeStudy</h1>
      <div class="curved-box">
        <form>
          <label for="email"><b>Email:</b></label>
          <input type="text" name="email" id="email"><br><br>

          <label for="pw"><b>Password:</b></label>
          <input type="password" name="pw" id="pw"><br>

          <input type="checkbox" name="remember" id="remember" value="remember">
          <label for="remember">Remember Me</label>
        	<p class="facebookLogin">
  <div scope="public_profile,email" onlogin="checkLoginState();" class="fb-login-button" data-width="" data-size="small" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false"></div>
         </p>
        </form><br>
      </div>

			   </p>
        </form><br>
      </div>

      <br><a href="/index"><Button>Login</Button></a>
      <br><br><a href="/signup"><Button>Sign Up</Button></a>
  </center>
</div>
</body>
<script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '138836851417423',
            xfbml      : true,
            version    : 'v9.0'
    });
     FB.AppEvents.logPageView();
  };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
     </script>
</html>