<!doctype html> 

<html>
<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Andika&family=Caveat:wght@700&display=swap" rel="stylesheet">
</head>

<body style="background-color: #fddca5">
    <div class="head">
        <h1>Profile</h1> <button class="close" id="close"><a href="/friends">X</a></button>
        <h3><img class="profile-avatar" src="../../images/catherine.jpg" alt="avatar"> Catherine </h3>
    </div>

    <div class="overview main">
        <h4>Friends</h4>
        <img class="overview-friends" src="../../images/alex.jpg" alt="avatar">
        <img class="overview-friends" src="../../images/vivian.jpg" alt="avatar">
        <img class="overview-friends" src="../../images/michael.jpg" alt="avatar">
        <img class="overview-friends" src="../../images/sarah.jpg" alt="avatar">
        <img class="overview-friends" src="../../images/jane.jpg" alt="avatar"><br>

        <h4>Groups</h4>
        <img class="overview-friends" src="../../images/cogs120.png" alt="avatar">
        <img class="overview-friends" src="../../images/cogs187.jpg" alt="avatar">
        <img class="overview-friends" src="../../images/cse100.jpg" alt="avatar">
        <img class="overview-friends" src="../../images/dsgn1.jpg" alt="avatar">
        <img class="overview-friends" src="../../images/cse11.jpg" alt="avatar"><br>

        <h4>Scheduled Breaks</h4>
        <p style="padding-left: 20px">Get up and stretch, 10:30am - 11:00am</p>
        <p style="padding-left: 20px">Make and eat lunch, 2:00pm - 2:30pm</p>
        <p style="padding-left: 20px">Free time, 6:00pm - 7:00pm</p>

        <h4>Tasks</h4>
        <div class="tasks"><p>Tasks Completed = 4 <br> Total Tasks = 10</p></div>
            <div class="progress">
                <label for="tasks">Task Progress:&nbsp</label><progress value= 4 max= 10 ></progress>
            </div>

        <h4>Awards</h4>
        <p><img class="award" src="../../images/yellow-star.png" alt="earned award"><b>Head Start</b><br><i>Earned on: 03/01</i><br>Finish 1 task</p><br> 
        <p><img class="award" src="../../images/yellow-star.png" alt="earned award"><b>Workaholic</b><br><i>Earned on: 03/01</i><br>Finish 5 tasks</p><br> 
        <p><img class="award" src="../../images/yellow-star.png" alt="earned award"><b>Mental Health</b><br><i>Earned on: 03/03</i><br>Take 3 breaks in one day</p><br> 
        <p><img class="award" src="../../images/yellow-star.png" alt="earned award"><b>Three's A Crowd</b><br><i>Earned on: 03/04</i><br>Join a study group</p><br> 
    </div>

    <!-- Navigation bar -->
    {{>navbar}}

    <!-- JavaScript info -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>

</body>
</html>