<!doctype html> 

<html>
<head>
	<title>Settings</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/faq.js"></script>
</head>

<body style="background-color: #f1f4f9">
     <div class="container main">
         <div class="head">
            <h1>Settings<a href="/login"><i id= "icon" class="fas fa-sign-out-alt"></i></a></h1>
         </div>  

        {{#each faq}}
        <div class="faq" id="{{id}}">
            <a href="#">
                <p>{{question}}</p>
            </a>
            <div class="details"></div>
        </div>
        {{/each}}
    </div>

     <!-- Navigation bar -->
    {{>navbar}}
</body>
</html>
