<!doctype html> 

<html>
<head>
	<title>Settings</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/faq.js"></script>
</head>

<body style="background-color: #f1f4f9">
     <div class="container main">
         <div class="head">
            <h1>Settings<a href="/login"><i id= "icon" class="fas fa-sign-out-alt"></i></a></h1>
         </div>  
    </div>

    {{#each faq}}
    <div class="faq" id="{{id}}">
        <a href="#">
            <p>{{question}}</p>
        </a>
        <div class="details"></div>
    </div>
    {{/each}}

     <!-- <button class="faq">What is WeStudy?</button>
     <div class="answer">
          <p>WeStudy is a collective accountability platform that motivates users to being more productive and focused by allowing them to share their task progress to friends, as well as also seeing their friend's progress.</p>
     </div>

     <button class="faq">Is WeStudy free?</button>
     <div class="answer">
         <p>Yes WeStudy is completely free!</p>
     </div>

     <button class="faq">What can I do with WeStudy?</button>
     <div class="answer">
         <p>On WeStudy, you can keep track of tasks for the day and the upcoming week, join study groups for classes you're currently taking, and keep yourself and your friends accountable. WeStudy also helps users become more productive and use their time more efficiently by encouraging users to take productive breaks throughout the day. We all get burnt out working all day, it's important to remember to take a break! WeStudy also increases motivation through incentivization of awards. Users can gain their own personal awards, as well as working together in their study groups to achieve group awards!</p>
     </div>

     <button class="faq">How can I check friend's progress?</button>
     <div class="answer">
         <p>By going to the friend's page and clicking on their profile, you can see a progress bar with their task completition progress for the day. So if you see that your friend has only finished 1 of their 7 tasks for the day, and its already 6pm.. message them to do their work!!</p>
     </div> -->

     <!-- Navigation bar -->
    {{>navbar}}
</body>
</html>
