<!doctype html> 

<html>
<head>
	<title>Settings</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/westudy.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0f45b5b100.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: #f1f4f9">
     <div class="container main">
         <div class="head">
            <h1>Settings<a href="/login"><i id= "icon" class="fas fa-sign-out-alt"></i></a></h1>
         </div>  
    </div>
     <button class="faq">What is WeStudy?</button>
     <div class="answer">
          <p>WeStudy is...</p>
     </div>

     <button class="faq">What can I do with WeStudy?</button>
     <div class="answer">
         <p>You can...</p>
     </div>

     <button class="faq">How can I check friend's progress?</button>
     <div class="answer">
         <p>You can...</p>
     </div>
 <!-- Navigation bar --> 
 <div class="navbar">
     <a href="/index"><i class="fas fa-home"></i></a>
     <a href="/tasks"><i class="fas fa-tasks"></i></a>
     <a href="/breaks"><i class="fas fa-clock"></i></a>
     <a href="/friends" ><i class="fas fa-users"></i></a>
     <a href="/awards"><i class="fas fa-star"></i></a>
     <a href="/settings"class="active"><i class="fas fa-cog"></i></a>
 </div>
 <!-- JavaScript info -->
 <script src="https://code.jquery.com/jquery.js"></script>
 <script src="../../js/bootstrap.min.js"></script>
 <script src="../../js/faq.js"></script>
</body>
</html>
