<!doctype html> 

<html>
<head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/login-signin.css" rel="stylesheet">
</head>

<body style="background-color: #f1f4f9">
  <div class="vertical-center">
    <form>
      <h2>Sign Up For WeStudy!</h2>
      <p>Please fill in your information to create an account.</p>

      <label for="email"><b>Email:</b></label>
      <input type="text" name="email" id="email" required><br>

      <label for="pw"><b>Password:</b></label>
      <input type="password" name="pw" id="pw" required><br>

      <label for="pw-repeat"><b>Repeat Password:</b></label>
      <input type="password" name="pw-repeat" id="pw-repeat" required>
    </form>

    <br><br>
    <center><a href="../../index.html"><Button>Sign Up</Button></a></center>
  </div>

</body>
</html>