/* Home page and page header styling*/
.header{
    text-align: center;
}

.head{
    position: relative;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.head h2{
    position: relative;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 50px;
    padding: 40px;
    font-variant: small-caps;
}

.head h1{
    padding: 20px;
    font-family: sans-serif;
    text-align: left;
    font-size: 30px;
    background-color: lightgray;
}

/* Styling for Home Button on all pages */ 
.button{
    position: right;
    display: inline-block;
    font-family: sans-serif;
    text-align: right;
    font-size: 16px;
    padding-left: 110px;
    border: 15px;
    background-color: lightgray;
}

/* Styling for Tasks page */ 
.tasks{
    padding-left: 20px;
}

.day h2{
    padding-left: 20px;
}

#add{
    padding-left: 100px;
    text-align: center;
}

#delete{
    padding: 70px;
    text-align: center;
}

/* Styling for AddTasks Page */ 
.name{
    padding-left: 20px;
}

.finish-date{
    padding-left: 20px;
}

.submission{
    padding-left: 20px;
}

.privacy{
    padding-left: 20px;
}

/* Styling for Friends Page */ 
.avatar{
    vertical-align: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.friends{
    display: flex;
    align-items: left;
    justify-content: left; 
}

.friends p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.progress{
    height: 20px;
    font-size: 15px;
    padding-left: 20px;
    background-color: gray;
    text-align: center;
    line-height: 20px;
    float: center;
}

/* Styling for Awards Page */
.award{
    padding: 10px;
    vertical-align: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.dropdown{
    padding-left: 20px;
}

.friend-awards{
    padding-left: 20px;
}

.group-awards{
    padding-left: 20px;
}

/* Bottom navigation bar styling*/
.navbar {
    background-color:lightgray;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
/* Style the links inside the navigation bar */
.navbar a {
float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 14px;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: gray;
}

/* Add a color to the active page */
.navbar a.active {
    background-color: grey;
    color: white;
<<<<<<< HEAD
  }

  /* Style the search field */
  form.search input[type=text] {
    margin-left: 20px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.search button {
    float: left;
    width: 10%;
    padding: 20px;
    background: lightgrey;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
  }
  
  form.search button:hover {
    background:grey;
  }
  
  /* Clear floats */
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Dropdown Button */
.dropbtn {
    background-color: gray;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: gray;}
=======
}
>>>>>>> a20e89545557649b538a83c313d6e5eba2af6dea
